@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 background-image: url('../../assets/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*/

.container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
  margin-top: 20vh;
  margin-right: 20vh;
  margin-left: 20vh;
  height: 60vh;
  overflow: hidden;
  /* height: 90vh;
 margin-left: 200px;
  margin-right: 200px;
  background-color: whitesmoke;
  padding: 6px;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;*/
}
.box-left {
 /* border-style: dashed;*/
  width: 100%;
  border-radius: 10px 10px 10px 0px;
  background-image: url('../../assets/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

img {
  vertical-align: middle;
  border-style: none; 
}
.box-right {
  display: flex;
  justify-content: center;
  width: 70%;
  overflow: hidden;
}

form {
  position: absolute;
  margin-top: 80px;
 /* transition: .5s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform;*/
  width: 25%;
  height: 400px;
}

input[type="text"] {
  border: solid;
  border-color: #e8eaeb;
  margin-top: 5vh;
  border-radius: 10px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

#signup {
  opacity: 0;
}

input[type="text"] {
  border: solid;
  border-color: #e8eaeb;
  margin-top: 5vh;
  border-radius: 10px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

input[type="password"] {
  border: solid;
  margin-top: 8vh;
  border-color: #e8eaeb;
  border-radius: 10px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}
button[type="submit"] {
  background: #660fc8;
  color: white;
  border-radius: 5px;
  width: 100%;
  border: solid;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 9vh;
  cursor: pointer;
}
i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

#iEmail {
  top: 5vh;
}

#iPassword {
  top: 166px;
}

#iPassword2 {
  top: 285px;
}
