.buttonsForm {
    margin-top: 10px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 blueviolet;
    margin-bottom: 55vh;
  }

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
   /* padding: 10px 29px;*/
   padding-top: 5px;
   padding-bottom: 10px;
   padding-left: 29px;
   padding-right: 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
}